.dataTable {
  margin-top: 40px;
  font-size: 15px;
}
.dataTable th {
  background-color: #57bebb;
  color: #fff;
}
.dataTable th, td {
  padding: 7px 30px;
}
.dataTable td {
  background: #def7f6;
}
.coloredDiv {
  margin: 45px auto 0;
  padding: 25px;
  height: auto;
  width: auto;
  text-align: center;
  background-color: #54c4c0;
  color: #fff;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .dataTable{
    font-size: 13px;
  }
  .dataTable th, td {
    padding: 6px 20px;
  }
}